@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin-top: 20px;">
    <div class="col-md-6 exampleForm">
        <div class="form-group">
            <label>Guid starting with a number</label>
            <input class="form-control" name="guid" type="text" value="912cd1ad-52c0-40cb-9644-55f2eb180a97" />
        </div>
        <div class="form-group">
            <label>Some value</label>
            <input class="form-control" name="somevalue" type="text" value="test1" />
        </div>
        <div class="form-group">
            <label>Result</label>
            <textarea class="result form-control" rows="8"></textarea>
        </div>
        <div class="form-group">
            <label>Request form</label>
            <textarea class="requestForm form-control" rows="10"></textarea>
        </div>
        <input type="button" class="btn btn-primary" value="Submit" />
    </div>
    <hr class="hidden-md hidden-lg" />
    <div class="col-md-6 exampleForm">
        <div class="form-group">
            <label>Guid starting with a character</label>
            <input class="form-control" name="guid" type="text" value="fa19cae8-abaa-48af-b39b-8bdc45c05c6f" />
        </div>
        <div class="form-group">
            <label>Some value</label>
            <input class="form-control" name="somevalue" type="text" value="test1" />
        </div>
        <div class="form-group">
            <label>Result</label>
            <textarea class="result form-control" rows="8"></textarea>
        </div>
        <div class="form-group">
            <label>Request form</label>
            <textarea class="requestForm form-control" rows="10"></textarea>
        </div>
        <input type="button" class="btn btn-primary" value="Submit" />
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $(".exampleForm").on("click", "input[type=button]", function (e) {
                var $exampleForm = $(e.target).closest(".exampleForm");

                var guid = $("input[name=guid]", $exampleForm).val();
                var somevalue = $("input[name=somevalue]", $exampleForm).val();

                var dataToSubmit = {
                    data: {}
                };

                dataToSubmit.data[guid] = {
                    somevalue: somevalue
                };

                $.ajax({
                    url: "/Index",
                    type: "POST",
                    data: dataToSubmit,
                    contentType: "application/x-www-form-urlencoded",
                    success: function (result) {
                        $(".result", $exampleForm).html(JSON.stringify(result.data, null, 4));
                        $(".requestForm", $exampleForm).html(JSON.stringify(result.form, null, 4));
                    }
                });
            });
        });
    </script>
}